<!DOCTYPE html>
<html>
{{>admin/header}}
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    {{>admin/navbar}}

    {{>admin/sidebar}}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                {{{body}}}
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>


    {{>admin/footer}}


</div>
<!-- ./wrapper -->

{{>admin/javascript}}

</body>
</html>
